*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Button{
    width: 120px;
    height: 60px;
    font-size: 24px;
    margin: 20px 8px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    color: #e3e8ee;
}

.Button:active {
    border: 3px solid transparent;
    border-top: 3px solid black;
    border-left: 3px solid black;
    transform: translateY(3px);
}
