
.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.ModalContent {
  background-color: rgb(122, 70, 70);
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.ModalHeader {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(153, 32, 177, 0.822);
}

.ModalBody {
  background-color: rgba(169, 98, 179, 0.575);
  padding: 20px;
}

.ModalFooter {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(209, 175, 224, 0.363);
}


